/* ===========================================================

    Organisms - Dialog

    Global dialog styling used throughout the site


	1.

=========================================================== */

$co-dialog-bg: #ffffff;
$co-dialog-dropshadow: rgba(#212b36, .25);
$co-dialog-close-btn-focus-ring: rgba(#212b36, .5);
$co-dialog-close-btn-bg: transparent;
$co-dialog-close-btn-icon: #212b36;
$co-dialog-close-btn-hover-bg: rgba(#212b36, .125);
$co-dialog-close-btn-hover-icon: #212b36;
$co-dialog-haze: rgba(#212b36, .75);

.o-dialog {
    background-color: $co-dialog-bg;
	border: none;
	border-radius: rem(4px);
	bottom: 0;
    box-shadow: 0 rem(20px) rem(40px) 0 $co-dialog-dropshadow;
	display: block;
    left: 0;
	margin: auto;
	max-height: 90%;
	max-width: rem(400px);
	overflow: hidden;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 90%;

    @include respond-min($bp-sm) {
        max-width: rem(500px);
    }

    @include respond-min($bp-md) {
        max-width: rem(600px);
	}
}

.o-dialog::backdrop,
.o-dialog + .backdrop {
    animation: none;
    background-color: $co-dialog-haze;
}

.o-dialog + .backdrop,
._dialog_overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.o-dialog__wrapper {
	height: 100%;
	overflow: auto;
}

.o-dialog__content {
    padding: rem(20px);
}

.o-dialog__close {
    background-color: $co-dialog-close-btn-bg;
    border-radius: 100%;
    color: $co-dialog-close-btn-icon;
    padding: rem(10px);
    position: absolute;
    right: rem(10px);
    top: rem(10px);
	transition: background-color $ut-speed $ut-timing-func-1, box-shadow $ut-speed $ut-timing-func-1, color $ut-speed $ut-timing-func-1;

    &:focus {
        box-shadow: 0 0 0 rem(4px) $co-dialog-close-btn-focus-ring;
        outline: none;
    }

    &:hover {
		background-color: $co-dialog-close-btn-hover-bg;
        color: $co-dialog-close-btn-hover-icon;
    }
}

.o-dialog__close-icon {
    display: block;
    height: rem(16px);
    stroke: currentColor;
    stroke-width: 1.5;
    width: rem(16px);
}


/* ===========================================================

    Organisms - Dialog Modifiers


	1.

=========================================================== */

.o-dialog:not([open]) {
    display: none;
}

.o-dialog.fixed {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.o-dialog[open] {
    animation: o-dialog-show $ut-speed * 1.5 $ut-timing-func-1 normal;
}

.o-dialog[open]::backdrop,
.o-dialog[open] + .backdrop {
    animation: o-dialog-backdrop-show $ut-speed * 1.5 $ut-timing-func-1 normal;
}

.o-dialog.is-hiding {
    animation: o-dialog-hide $ut-speed * 1.5 $ut-timing-func-1 normal;
}

.o-dialog.is-hiding::backdrop,
.o-dialog.is-hiding + .backdrop {
    animation: o-dialog-backdrop-hide $ut-speed * 1.5 $ut-timing-func-1 normal;
}

@media screen and (prefers-reduced-motion: reduce) {

}

@keyframes o-dialog-show {
    0% {
		opacity: .01;
		transform: translateY(rem(40px));
	}
	50% {
		opacity: .99;
	}
    100% {
		opacity: .99;
		transform: translateY(0);
    }
}

@keyframes o-dialog-backdrop-show {
    0% {
        opacity: .01;
    }
    100% {
        opacity: .99;
    }
}

@keyframes o-dialog-hide {
    0% {
		opacity: .99;
		transform: translateY(0);
	}
	50% {
		opacity: .01;
	}
    100% {
		opacity: .01;
		transform: translateY(rem(40px));
    }
}

@keyframes o-dialog-backdrop-hide {
    0% {
        opacity: .99;
    }
    100% {
        opacity: .01;
    }
}

